@import "./scss/bootstrap";
@import "./scss/screen-loader";
@import "./scss/home-card";
@import "./scss/overlapping-page";
@import "./scss/home";
@import "./scss/about";
@import "./scss/contact";
@import "./scss/profile";
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
main{
  flex: 1 0 auto;
}